<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Coder User Group</title>
  </head>
  <body>
    <div class="w3-container w3-dark-grey">
    <h1>Coder User Group</h1>

    <a
      href="https://login.cug.coderworkshop.com/auth/realms/master/protocol/openid-connect/auth?client_id=Coder&redirect_uri=https%3A%2F%2Fcoder.cug.coderworkshop.com%2Foidc%2Fcallback&response_type=code&scope=openid+profile+email&state=60c20610-83c1b42a6c3336c1fc646f0c"
      target="_blank"
      >Get a workshop account
    </a>

    |

    <a href="https://coder.cug.coderworkshop.com" target="_blank">
      Log in to Coder
    </a>
	</div>
	<article class="w3-container w3-pale-yellow">
    <br /><br />
    <h2>People</h2>
    {% for key, value in people.items() %}
    <li>
      <a href="people/{{ value }}" target="_blank">{{ key }} </a>
    </li>
    {% endfor %}

    <br /><br />
	
    <a
      href="https://coder.cug.coderworkshop.com/wac/build?template_oauth_service=github&template_url=https://github.com/bpmct/cug-landing-page&template_ref=main&template_filepath=.coder/coder.yaml"
      alt="Open in Coder"
      title="Open in Coder"
      target="_blank"
      ><img src="https://cdn.coder.com/embed-button.svg" />
    </a>
    <br />
    <a href="https://github.com/bpmct/cug-landing-page" target="_blank"
      >https://github.com/bpmct/cug-landing-page
    </a>
	
    <br />
    <hr />
    <h2>Other applications</h2>

    <p>
      <i>VNC (Virtual Desktop):</i>
      <a
        href="https://coder.cug.coderworkshop.com/wac/build?template_oauth_service=github&template_url=https://github.com/bpmct/cug-landing-page&template_ref=main&template_filepath=.coder/vnc.yaml"
        target="_blank"
        >Create workspace</a
      >
    </p>

    <p>
      <i>Java + IntelliJ:</i>
      <a
        href="https://coder.cug.coderworkshop.com/wac/build?template_oauth_service=github&template_url=https://github.com/bpmct/cug-landing-page&template_ref=main&template_filepath=.coder/java.yaml"
        target="_blank"
        >Create workspace</a
      >
    </p>
  </article>
  </body>
</html>
