<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coder User Group</title>
  </head>
  <body>
    <h1>User group</h1>

    Get a workshop account: https://coder.cug.coderworkshop.com

    <br /><br />

    Log in to Coder:
    <a href="https://coder.cug.coderworkshop.com"
      >https://coder.cug.coderworkshop.com
    </a>

    <hr />

    <br />

    <p>Edit this application from a Coder workspace:</p>

    <a
      href="https://coder.cug.coderworkshop.com/wac/build?template_oauth_service=github&template_url=https://github.com/bpmct/cug-landing-page&template_ref=main&template_filepath=.coder/coder.yaml"
      alt="Open in Coder"
      title="Open in Coder"
      ><img src="https://cdn.coder.com/embed-button.svg"
    /></a>
  </body>
</html>
